:root {
  --debugging: 1px solid red;
  --logo-color: #8c1007;
  --button-color: ;
  --border-color: #450001;
  --font-color: #660b05;
  --shadow-color: #f0181f;
  --font-color2: white;
  --background-color: black;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  list-style: none;
  border: none;
  scroll-behavior: smooth;
}
body {
  background-color: black;
}
.navbar {
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
}
.logo {
  font-size: 2rem;
  padding: 5px 0 5px 2rem;
  font-weight: bold;
  cursor: pointer;
}
.logo a {
  color: var(--logo-color);
  font-family: "New Amsterdam", sans-serif;
}

.navlink {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
}
.navlink a {
  width: 100px;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 1px;
  z-index: 1;
  text-decoration: none;
  color: var(--font-color);
}
.navlink a::before {
  content: "";
  position: absolute;
  top: 20px;
  left: 0;
  width: 0;
  height: 10%;
  background: rgb(248, 243, 243);
  transition: 0.5s;
  z-index: -1;
}
.navlink a:hover::before {
  width: 100%;
}
.user {
  padding: 10px 2rem 5px 2rem;
  align-items: center;
}
.user a {
  justify-content: center;
  text-align: center;
  size: 2rem;
}
.user a .icon-btn {
  color: var(--logo--color);
  font-size: 3rem;
}
/* end navbar */
/* content */
.content {
  background-image: url(/propertis/bg.png);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100dvh;
}
/* paralax */
.content-paralax {
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100dvh;
  text-align: center;
  justify-content: center;
}
.content-paralax h1 {
  margin-bottom: 20px;
  color: var(--logo-color);
  padding-top: 155px;
  font-size: 3rem;
  text-shadow: -2px 5px 20px rgba(0, 0, 0, 1);
}
.content-paralax .font {
  margin-bottom: 100px;
  font-size: 40px;
  color: var(--font-color2);
  font-family: "Dancing Script", cursive;
}

/* card */
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 50px;
}
.card {
  width: 250px;
  height: 420px;
  background-color: var(--background-color);
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 10px 15px rgba(0, 0, 0, 0.5);
  margin: 16px;
  cursor: pointer;
  transition: 0.5s all ease-in-out;
  flex-direction: column;
  justify-content: space-between;
}
.card:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 16px 0 var(--border-color);
}
.card img {
  display: block;
  width: 100%;
}
.card-content {
  padding: 8px 8px 2px 8px;
  height: 40%;
}
.card-content h4 {
  color: var(--logo-color);
  font-size: 16px;
  margin-bottom: 5px;
}

.card-content p {
  color: var(--font-color);
  font-size: 15px;
  line-height: 1.3;
  margin-bottom: 40px;
  flex-grow: 1;
}
.card-content a {
  color: var(--font-color);
  font-weight: bold;
  padding: 14px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
}
