:root {
  --background-color: #2c4952;
  --bg-color:#b3cfe5;
  --primary-color: #788861;
  --font-color: #fff5d6;
  --debugging: 1px solid red;
  --button-color: #f6fafd;
  --logo--color: #ff6b6b;
  --border-color: #4a7fa7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  list-style: none;
  border: none;
  scroll-behavior: smooth;
}
html {
  overflow-x: hidden;
}

body {
  background-color: var(--background-color);
}
.navbar {
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
}
.logo {
  font-size: 2rem;
  padding: 5px 0 5px 2rem;
  font-weight: bold;
  cursor: pointer;
}
.logo a {
  color: var(--logo--color);
  font-family: "New Amsterdam", sans-serif;
}

.navlink {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
}
.navlink a {
  width: 100px;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 1px;
  z-index: 1;
  text-decoration: none;
  color: var(--font-color);
}
.navlink a::before {
  content: "";
  position: absolute;
  top: 20px;
  left: 0;
  width: 0;
  height: 10%;
  background: rgb(248, 243, 243);
  transition: 0.5s;
  z-index: -1;
}
.navlink a:hover::before {
  width: 100%;
}
.user {
  padding: 10px 2rem 5px 2rem;
  align-items: center;
}
.user a {
  justify-content: center;
  text-align: center;
  size: 2rem;
}
.user a .icon-btn {
  color: var(--logo--color);
  font-size: 3rem;
}
/* end navbar */
/* content zona */
.zona,
.zona_2,
.zona_3 {
  text-align: center;
  padding: 90px 40px;
}

.zona,
.zona_2,
.zona_3 .h1 {
  font-size: 15px;
  margin-bottom: 20px;
  font-weight: bold;
}
/* bg */
.zona_2{
background-color: #647a87;
}

.subtitle {
  font-style: italic;
  margin-bottom: 50px;
}

.book-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  max-width: 1000px;
  margin: auto;
}

.book-card {
  background-color: #2f4b57;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.5s all ease-in-out;
}
.book-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 25px rgba(0,0,0,0.6);
}

.book-card img {
  width: 180px;
  height: 250px;
  border-radius: 6px;
  margin-bottom: 15px;;
}


.book-card h3 {
  margin-bottom: 15px;
}

.btn {
  display: inline-block;
  padding: 8px 18px;
  border: 1px solid #7fc4d4;
  color: #fff;
  text-decoration: none;
  border-radius: 6px;
  transition: 0.3s;
}

.btn:hover {
  background-color: #7fc4d4;
  color: #000;
}
