    :root {
    --primary-color:#788861;
    --font--color: #2c2b28;
    --debugging: 1px solid rgb(195, 28, 28);
    --button-color: #C38154;
    --border-color: #805433;
}

        * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    }

    body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
    background: url("/propertis/bglogin.png") no-repeat;
    background-size: cover;
    background-position: center;
    }

    /* wrapper */
.wrapper {
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: var(--font-color);
    border-radius: 10px;
    padding: 30px 40px;
}
.wrapper h1 {
    font-size: 36px;
    text-align: center;
}
.wrapper .input-box {
    position: relative;
    width: 100px;
    height: 50px;
    margin: 30px 0;
}
.input-box input {
    width: 350%;
    height: 100%;
    background: transparent;
    font-size: 16px;
    font-weight: bold;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 400px;
    padding: 20px 45px 20px 20px;
}
.input-box input::placeholder {
    color: var(--font--color);
}
.input-box i {
    position: absolute;
    left: 300px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}
.wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
    color: var(--font-color);
    font-weight: bold;
}

.remember-forgot label input {
    margin-right: 3px;
    font-weight: bold;
}
.remember-forgot a {
    color: var(--font-color);
    text-decoration: none;
    font-weight: bold;
}
.remember-forgot a:hover {
    text-decoration: underline;
}
.wrapper .btn {
    width: 100%;
    height: 45px;
    background: var(--button-color);
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    color: var(--teks--color);
    font-weight: 600;
}
.wrapper .register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}
.register-link p a {
    color: var(--font-color);
    text-decoration: none;
    font-weight: bold;
}
.register-link p a:hover {
    text-decoration: underline;
}
/* end warrper */